#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# GCP credentials
keyfile.json

# macOS specific files
.DS_Store

# Intellij IDEA configuration files
.idea/